* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cdd9ee;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 60%;
    margin: 50px auto;
    padding: 50px;
    background-color: #fbfbfb;
    box-shadow: 10px 10px 5px 0px rgba(196,196,196,0.5);
}

h1 {
    padding-bottom: 15px;
}

#todo_list {
    padding-top: 15px;
    padding-inline-start: 40px;
}
