* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cdd9ee;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

i {
    color: #3333c9;
    margin: 5px;
    cursor: pointer;
}

.container {
    width: 500px;
    margin: 50px auto;
    padding: 50px;
    background-color: #fbfbfb;
    box-shadow: 10px 10px 5px 0px rgba(196,196,196,0.5);
}

h1 {
    padding-bottom: 15px;
    text-align: center;
    color: #3333c9;
}

#insert_new {
    text-align: center;
    border-bottom: 1px solid #3333c9;
    border-top: 1px solid #3333c9;
    padding: 10px 0;
}

#new-todo-button {
    border: none;
    background-color: transparent;
    padding: 5px;
}

#list-container {
    display: flex;
    justify-content: center;
}

#todo_list {
    padding-top: 15px;
    width: 80%;
}

#todo_list li {
    margin: 5px 0;
    list-style-type: none;
    border-bottom: 1px dashed blue;
}

.save-todo, .input-edit-todo {
    display: none;
}

.input-edit-todo {
    width: 256px;
}

.text-todo {
    display: inline-block;
    width: 80%;
    padding-bottom: 6px;
    cursor: pointer;
}

.done {
    color: #3333c9
    ;
}

.done span{
    text-decoration: line-through;
}

.done i {
    display: none;
}
